@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Lora:wght@400;700&family=Libre+Baskerville:wght@400;700&family=EB+Garamond:wght@400;700&display=swap');


:root {
  --primary-color: #004d7a; /* Azul profundo sofisticado */
  --secondary-color: #00a8cc; /* Azul vibrante para detalles */
  --secondary-color2: #c5d4d8; /* Azul vibrante para detalles */
  --accent-color: #f4a261; /* Naranja cálido */
  --background-light: #f9f9f9;
  --background2-light: #e8e7ec;
  --background-dark: #1b1b1b;
  --text-color-dark: #222222;
  --text-color-light: #f5f5f5;
  --font-heading: 'Lora', serif;
  --font-body: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background:var(--background-light); /* Fondo claro y limpio */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color); /* Color gris sutil */
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color); /* Se oscurece ligeramente al pasar el cursor */
}



body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color-dark);
  background: var(--background2-light);
  overflow-x: hidden; /* Oculta el scroll horizontal */
  width: 100vw; /* Asegura que el ancho máximo sea el del viewport */
}

h1, h2, h3 {
  font-family: 'Lora', serif;
}

h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 0 0 25px rgba(0, 0, 0, 0.1);;
}
/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background: var(--background-light);
  color: var(--text-color-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

header h1 {
  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}

header img{
  width: 8%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform ease 1s;
}

header img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

nav {
  display: flex;
  gap: 24px;
}

nav a {
  text-decoration: none;
  font-family: var(--font-body);
  font-size: 16px;
  color: var(--text-color-dark);
  position: relative; /* Se establece como 'relative' para posicionar correctamente el pseudo-elemento `::after` */
  padding-bottom: 4px;
  transition: color 0.3s ease-in-out;
}

nav a::after {
  content: ""; /* Se genera un elemento vacío que servirá como la línea de subrayado */
  position: absolute; /* Se posiciona de manera absoluta respecto al enlace */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  transform: scaleX(0); /* Inicialmente, el subrayado está oculto (sin ancho visible) */
  transform-origin: left;  /* La animación del subrayado comienza desde la izquierda */
  transition: transform 0.3s ease-in-out; /* Suaviza la animación cuando aparece el subrayado */
}



nav a:hover {
  color: var(--secondary-color);
}

nav a:hover::after {
  transform: scaleX(1); /* Hace que el subrayado aparezca expandiéndose de izquierda a derecha */
}

button {
  background: var(--primary-color);
  color: white;
  font-family: var(--font-body);
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin: 10px;
}

button:hover {
  background: var(--secondary-color);
}

/* SECTIONS */
section {
  background: var(--background-light); 
  padding: 40px 20px; 
  margin: 20px auto; 
  max-width: 1200px; 
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08); 
  transition: box-shadow 0.3s ease-in-out; 
}

section:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12); 
}

section h2 {
  font-family: var(--font-heading);
  color: var(--primary-color);
  font-size: 28px;
  margin-bottom: 16px;
  text-align: center;
}

/* Para los textos dentro de las secciones */
section p {
  font-family: var(--font-body);
  color: var(--text-color-dark);
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

/* SEARCHER */
section input {
  width: 100%;
  padding: 10px 14px;
  font-size: 16px;
  font-family: var(--font-body);
  border: 2px solid var(--primary-color); /* Borde con el color principal */
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease-in-out;
  background: var(--background-light);
  color: var(--text-color-dark);

}

/* Cambia el borde y agrega sombra al enfocar */
section input:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 8px rgba(0, 168, 204, 0.5); /* Efecto sutil */
}

/* Placeholder estilizado */
section input::placeholder {
  color: rgba(34, 34, 34, 0.5);
  font-style: italic;
}

/* Animación al escribir */
section input:focus::placeholder {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

.searcher{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: var(--secondary-color2);
}

.searcher button:hover{
 background-color: var(--background-dark);
}


form{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* INFORMATION */
.information{
  text-align: center;
  justify-content: center;
}

.information p{
  width: 50%;
  align-self: center;
  justify-self: center;
}

.swiper-container{
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 10px;

}

.swiper-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;

}

.recomendations {
  text-align: center;
  background-color: var(--secondary-color2);
  display: flex;
  flex-direction: column;
}

.recomendations-container {
  display: flex;
  flex-direction: row;
  height: 500px; /* Ajusta según necesidad */
  width: 100%;
  gap: 1rem;

}

.recomendations-list-container {
  width: 35%; /* Ocupa el 30% del contenedor */
  max-height: 100%;
  overflow-y: auto; /* Hace la lista desplazable */
  background: var(--background-light);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.recomendations-list-container h6{
  margin: 0.5rem;
}


/* MAPA */
.recomendations-map {
  flex-grow: 1; /* Ocupa todo el espacio restante */
  height: 100%;
  border: solid 1px black;
  border-radius: 10px;
}

.hotel-searcher{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem;
}

.hotel-searcher input{
  width: 20%;
}

.hotel-searcher input[type="number"]{
  width: 5%;
}


.hotel-searcher input:focus{
  outline: none; /* Elimina el contorno por defecto */
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Sombra azul, puedes cambiar el color */
  border: 2px solid #007bff; /* Agrega un borde de color azul (opcional) */
}

.hotel-results{
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
}

.itinerary{
  background: var(--background-light);
  display: none;
  padding: 32px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 250px;
  z-index: 100;
  box-shadow: -9px 11px 49px -18px rgba(0,0,0,0.3);
  overflow-y: auto;
  z-index: 10000;
}

.itinerary p {
  margin-top:50px ;
  text-align: center;
  font-weight:bolder;

}

ul {
  list-style-type: none; /* Elimina los puntos o números */
  padding: 0;
  margin: 0;
}

li {
  padding-left: 0;
  margin-left: 0;
}

.itinerary li {

  padding-bottom: 16px;
  background-color: var(--background2-light);
  padding: 0.5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid var(--primary-color);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) ;
  }

.itinerary-button{
  align-items: center;
  background: var(--accent-color);
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height:3rem;
  justify-content: center;
  padding: 4px;
  position: fixed;
  right: 8px;
  top: 8px;
  transition: all .3s ease;
  width:3rem;
  z-index: 999999;
}


.itinerary-button i{
  font-size: 1.8rem;
  color: var(--color-border)
}

.itinerary-button:hover {
  scale: 1.1;
}

aside ul{
  list-style: none;
  
}

.itinerary-button ~ input:checked ~ .itinerary {
  height: 100%;
  display: block;
}

.places-item{
  font-size: 0.8rem;
}
.itinerary-item{
  margin-left: 0;
 }